.div {
  font-size: 15px;
  font-family: 'Calibri', 'sans-serif';
}

.card {  
  background: rgba(20,68,119,.95)!important;
  color: #fff!important;
}

.link {
  text-decoration: none;
}

.unityBtn {
  :global {
    .ms-Button-icon, .ms-Button-label {
      color: #fff!important;
    }
  }  
}